@font-face {
    font-family: elite;
    src: url(./fonts/SpecialElite-Regular.ttf);
}

body {
    font-family: 'elite', sans-serif;
}

.title {
    text-align: center;
    margin-bottom: 12px;
}

.title p, .title h1, .title h2, .title h3 {
    font-size: 38px !important;
    font-weight: bold !important;
    font-family: 'elite', sans-serif;
}
.green-prediction {
    border: 4px solid green !important;
    box-shadow: 0 0 5px green;
    border-radius: 6px;
}

.red-prediction {
    border: 4px solid red !important;
    box-shadow: 0 0 5px red;
    border-radius: 6px;
}

.predict-btn {
    margin-top: 24px;
}

.gr-number input {
    font-size: 20px;
    font-weight: bold;
}